.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body, html {
}

div {
	margin: 20px 5px;
}

li {
	margin: 5px 0;
	list-style: none;
}

button {
	margin: 0 1px;
}

/*.ass {
	display: none;
}*/

.completedTask li label {
	background-color: #DCE2E2;
}

#headline {
	text-align: center;
}

.editOff input[type=text]{
	display: none;
}

.editOn label.form-control{
	display: none;
}

.editOff .saveBtn{
	display: none;
}

.editOn .editBtn{
	display: none;
}

.quote {
	font-style: italic;
}

footer {
	text-align: center;
	margin-top: 50px;
}

footer p span {
	color: #F94F4F;
}

@media screen and (min-width: 500px){
	#wrapper {
		max-width: 90%;
		margin: 0 auto;
	}

	ul {
		margin: 10px;
	}
	button {
		margin: 0 3px;
	}
}